.corpo {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    width: 100vw !important;
    background-color: #343a40 !important;
    z-index: 9999;
}

.cartao {
    border: solid 2px black!important;;
    max-width: 400px !important;
    width: 100% !important;
    margin: 0 auto !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    overflow: hidden !important;
    background-color: #fff !important;
}

.cartao-body {
    padding: 30px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}


.form-grupo {
    width: 100% !important;
    margin-bottom: 20px !important;
}

.form-control {
    border-radius: 5px !important;
    border: 1px solid #343a40 !important;
    padding: 10px !important;
}

.form-control:focus {
    box-shadow: none !important;
    border-color: #FFD333 !important;
}


.btnAdminLogin {
    background-color: #FFD333 !important;
    border: none !important;
    font-size: 16px !important;
    padding: 10px 15px !important;
    border-radius: 5px !important;
    transition: background-color 0.3s ease !important;
    width: 100% !important;
    color:#343a40!important;
}

.btnAdminLogin:hover {
    background-color: #ffe479 !important;

}

.login-box-msg {
    font-size: 22px !important;
    font-weight: bold !important;
    margin-bottom: 30px !important;
    text-align: center !important;
    color: #333 !important;
}

.btnRegistarAdmin{
    text-decoration: none;
    color: #FFD333;
}

.btnRegistarAdmin:hover{
    color: #343a40;
    transition: color 0.3s ease-in-out;
}

.site-signup h1, .site-signup p{
    text-align: center;
}

.fundo{
    background: #343a40;
    min-height: 100vh;
}

.site-signup{
    background:  white;
    border-radius: 20px;
    padding: 30px 30px;
    margin: 10px 50px 40px;
    border: 2px solid black;
}

.ExpedicoesContainer{
    margin: 10px 50px;
}

.metodo-item td, .ExpedicoesContainer th{
    text-align: center;
    width: 100px;
}

.metodo-item td a{
    margin-right: 10px;
}

.btnAddMetodoExp{
    margin-left: 50px;
}

.metodoexpedicao-update, .metodoexpedicao-create,
.categoria-form, .categoria-index, .categoria-view, .produto-index,
.produto-view, .produto-form, .compra-index, .metodopagamento-index,
.metodopagamento-update, .metodopagamento-create, .metodopagamento-view, .compra-view, .avaliacao-view,
.avaliacao-update, .suporte-index, .suporte-view{
    margin: 0 80px;
}

.card-expedicao{
    position: absolute;
    background-color: white;
    width: 500px;
    height: 200px;
    padding:30px;
    border: 1px solid black;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-expedicao a{
    margin-top: 20px;
    transform: scale(0.9);
}

.btnVoltar{
    bottom: 80px;
    margin-left: 20px;
}


